#field-box {
  text-align: center;
}

.murrca-title {
  font-family: sans-serif;
  color: #303090;
  font-size: 3em;
  padding: 0px;
  margin: 20px;
}

#field {
  display: inline-block;
  background: #303090;
  width: 400;
  height: 400;
}